language: node_js
node_js:
- "14"
sudo: false
branches:
  only:
  - main
  - /20.*/
script:
- npm run test
- npm run build
- npm run build:lang
- |
  if [ "$TRAVIS_TEST_RESULT" == "0" ]; then
    npm run publish:autotag;
  fi
- |
  if [ "$TRAVIS_TEST_RESULT" == "0" ] && [ "$TRAVIS_SECURE_ENV_VARS" == "true" ] && [ "x$TRAVIS_TAG" != "x" ]; then
    npm run publish:cdn;
  fi
notifications:
  slack:
    # build-triage-bsi
    secure: qmTskJdM5FqNGl92HoTxerV9MeSZEr8Sg8PZT9RAvgCy+TUdA5bAnZ8C8+aptMtS+VoPXc+SyTILrJe79WdTRnapTVLySD3z0tIlcoZW2dshyy9CN6vZGOWCR+mzWi+IiTRzom4saBo4JJ905DUpPJGYYRaWJbXqx6LJnBnRqA7g0FmX4/i9iZAueVQiKaLFU+6/O2zqRX8PSFjEzABrJ8Q7/atE7OXGJ+vAEWHtwJ9I5vfnWWwpCD4OoLG1di63yYZHRwnP1k+Ls11OnNOY2iUg6JP5Y5JPTqdycwbX4sm2rdY14nWYhgofPKcHhDtZtS8pcmrzwqBj9QEIiolBWughxj9xn6U3GKaU21w5do1mIjjbpjwj3uobf1MIUQgXUrrBqua9fk7nnfZCGMm5CWVwjqtPUMku1N96+t9XhCtLMYrszsvsSKSbMPDpBwhitQxXwuKpLoIUxCl93L93wrYRWIgjyP99WKDhcU1yQtmGY/Qt96hbt29t2PN+l1lFBk5psi/b8aQ7eWlK66KGD9kxerZ4K3h7fD6wrslgwfEqqVAUGChbf5dvB3A4bWdK37vyKcwl+ca/9GrRhPKd5q6EOXbiTaSWWJCK7pygEYPYVCjHKxOhZuGdFDQYqv71vdVT9D+GFbaALiDy6pDQ7TrFvuKFc+OZuzW5FOcv+qU=
    on_success: never
    on_failure: always
